<div class="col-2">
    <div class="info-box mb-3 bg-info">
        <span class="info-box-icon"><i class="fas fa-ticket-alt"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Paysafecard</span>
            <span class="info-box-number">{{ count }}</span>
        </div>
    </div>
</div>